#AcademiesportalWrapper .btn {
    color: white;
    background-color: #d52c82;
    border: 3px solid white;
    border-radius: 5px;
    line-height: 2.2;
}
#AcademiesportalWrapper .btn :hover {
    color: #d52c82;
    background-color: white;
}
#AcademiesportalWrapper {
    background-color: #204a69;
    border: 3px solid black;
    margin: 50px;
    padding-bottom: 40px;
}
#AcademiesportalWrapper a {
    color: white;
}