#signup {
    background-color: #DADDE1;
    height: 90vh;
    margin: 0px;
}
#signupleft {
    margin-top: 130px;
    padding: 0px;
}
#signupleft .l6 {
    background-color: white;
}
#signupleft h3 {
    padding: 30px 0px 30px 0px;
}
#signupleft .l6 p {
    margin-bottom: 30px;
}
#signupright {
    margin-top: 75px;
    padding: 0px;
}
#signupright .l6 {
    background-color: #474A59;
}
#signupright .s11 {
    padding-right: 30px;
}
#signupform {
    margin: 35px 0px 0px 0px;
    padding-bottom: 20px;
}
#signupform input {
    height: 30px;
    border-radius: 10px;
    width: 100%;
    background-color: #343742;
    border: 0px solid;
    color: white;
    margin-bottom: 25px;
}
*:focus {
    outline: none;
}
#signuplink {
    cursor: pointer;
}