.slides .left-align h3 {
    color: #3F7E70;
}
.slides .center-align h3 {
    color: #FFECD4;
}
.slides .right-align h3 {
    color: #dfe6e9;
}
.slides .left-align h5 {
    color: #3F7E70;
}
.slides .center-align h5 {
    color: #FDF2E7;
}
.slides .right-align h5 {
    color: #dfe6e9;
}